.calc-container {
	width: 1000px;
	margin: 0 auto;
}
.nav-bar {
	/*text-align: center;*/
}
.calc-content {
	margin: 0 auto;
	width: 1000px;
}
.meal-details {
	float: left;
	width: 450px;
	border: 2px solid black;
	margin-right: 10px;
}
h2 {
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	background-color: #f5f5dc;
}
.meal-content {
	width: 350px;
	margin: 0 auto;
}
.buttons {
	padding-top: 90px;
	padding-bottom: 80px;
}
.customer-charges {
	width: 400px;
	border: 2px solid black;
	float: left;
}
.charges-content {
	width: 350px;
	margin: 0 auto;
}
.earnings-info {
	width: 400px;
	border: 2px solid black;
	float: left;
	margin-top: 10px;
}
.earnings-content {
	width: 350px;
	margin: 0 auto;
}
