.meal-details {
	border: 2px solid black;
}
h2 {
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	background-color: #f5f5dc;
	font-size: 40px;
}
.content {
	margin: 0 auto;
	padding: 10px;
}
.buttons {
	padding-top: 85px;
	padding-bottom: 80px;
}
.customer-charges {
	border: 2px solid black;
	margin-bottom: 10px;
}
.earnings-info {
	border: 2px solid black;
}
.reset {
	margin-top: 10px;
	margin-right: 10px;
}
.reset-button{
	padding-top: 20px;
}
.animate-view-container { position: relative; min-height: 100%; }
.animate-view.ng-enter,
.animate.ng-leave {
	transition: 1s linear all;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #eee;
}
.animate-view.ng-enter { opacity: 0; z-index: 100; }
.animate-view.ng-enter.ng-enter-active { opacity: 1; }
.animate-view.ng-leave { opacity: 1; z-index: 99; }
.animate-view.ng-leave.ng-leave-active { opacity: 0;}
