.calc-container {

}
.nav-bar {
	/*text-align: center;*/
}
.calc-content {
	margin: 0 auto;
	width: 1000px;
}
.meal-details {
	border: 2px solid black;
}
h2 {
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	background-color: #f5f5dc;
	font-size: 40px;
}
.content {
	margin: 0 auto;
	padding: 10px;
}
.buttons {
	padding-top: 85px;
	padding-bottom: 80px;
}
.customer-charges {
	border: 2px solid black;
	margin-bottom: 10px;
}
.earnings-info {
	border: 2px solid black;
}
.reset {
	margin-top: 10px;
	margin-right: 10px;
}